<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>PromoteProductList</key>
        <dict>
            <key>1400039210</key>
            <dict>
                <key>NAME</key>
                <string>Wondercap</string>
                <key>IMAGE</key>
                <string>res/Level_Image/2_FL_ZO_SH_LI_WonderCap_image.jpg</string>
                <key>URL</key>
                <string>https://www.tweebaa.com/Product/saleBuy.aspx?id=df8630a7-cb30-492b-b86b-f0fd44aa4b92</string>
            </dict>
            <key>2000126110</key>
            <dict>
                <key>NAME</key>
                <string>AceCamp 3 LED Headlamp</string>
                <key>IMAGE</key>
                <string>res/Level_Image/18_FL_SH_ZO_LI_Headlamp_imageA.jpg</string>
                <key>URL</key>
                <string>https://www.tweebaa.com/Product/saleBuy.aspx?id=b21f73b7-51e4-4e00-86c5-bbca67414e07</string>
            </dict>
            <key>1900002210</key>
            <dict>
                <key>NAME</key>
                <string>Kitty Litty</string>
                <key>IMAGE</key>
                <string>res/Level_Image/4_SPOT_level7_Kittylitty_imageA.jpg</string>
                <key>URL</key>
                <string>https://www.tweebaa.com/Product/saleBuy.aspx?id=3d7aeec0-5ece-4fad-975c-a58ef9464af1</string>
            </dict>
            <key>2000154210</key>
            <dict>
                <key>NAME</key>
                <string>Podillow</string>
                <key>IMAGE</key>
                <string>res/Level_Image/1_FL_ZO_SH_LI_PODillow_image.jpg</string>
                <key>URL</key>
                <string>https://www.tweebaa.com/Product/saleBuy.aspx?id=7ed21a8d-67cf-43e8-b667-f857d80cc434</string>
            </dict>
            <key>1600032210</key>
            <dict>
                <key>NAME</key>
                <string>DAP Xhose Pro Extreme</string>
                <key>IMAGE</key>
                <string>res/Level_Image/32_FL_SH_ZO_LI_DAPXhorse_image.jpg</string>
                <key>URL</key>
                <string>https://www.tweebaa.com/Product/saleBuy.aspx?id=cfd47ec9-5836-4b27-ac07-1763bb33e5c4</string>
            </dict>
            <key>1500595210</key>
            <dict>
                <key>NAME</key>
                <string> Sobokawa Pillow (Std.)</string>
                <key>IMAGE</key>
                <string>res/Level_Image/33_FL_SH_ZO_LI_Sobokawa_image.jpg</string>
                <key>URL</key>
                <string>https://www.tweebaa.com/Product/saleBuy.aspx?id=cd467ff4-66ed-4452-be3e-44111dd839bb</string>
            </dict>
            <key>1001254210</key>
            <dict>
                <key>NAME</key>
                <string>Dunbar Leather and Shoe Restore</string>
                <key>IMAGE</key>
                <string>res/Level_Image/25_FL_LI_Dunbar_image.jpg</string>
                <key>URL</key>
                <string>https://www.tweebaa.com/Product/saleBuy.aspx?id=db5c4eff-5145-42d6-a362-ad4b563ff129</string>
            </dict>
            <key>1400066210</key>
            <dict>
                <key>NAME</key>
                <string>LAPPAK COSEMTIC BAG</string>
                <key>IMAGE</key>
                <string>res/Level_Image/26_FL_SH_ZO_LI_Lappak_image.jpg</string>
                <key>URL</key>
                <string>https://tweebaa.com/Product/presaleBuy.aspx?id=3cc72b1e-df04-40e1-a621-b4726f792d22</string>
            </dict>
            <key>1400066211</key>
            <dict>
                <key>NAME</key>
                <string>LAPPAK LUNCH BAG</string>
                <key>IMAGE</key>
                <string>res/Level_Image/27_FL_SH_ZO_LI_Lappak_image.jpg</string>
                <key>URL</key>
                <string>https://www.tweebaa.com/Product/presaleBuy.aspx?id=3e0dfa46-2dc2-4622-bd9f-0139aebbb875</string>
            </dict>
            <key>1900003210</key>
            <dict>
                <key>NAME</key>
                <string>Scoop N Go</string>
                <key>IMAGE</key>
                <string>res/Level_Image/28_FL_LI_ScroopNGo_image.jpg</string>
                <key>URL</key>
                <string>https://www.tweebaa.com/Product/presaleBuy.aspx?id=29612bc3-7086-4de0-9ec1-c7d423c2be0b</string>
            </dict>
            <key>1500594210</key>
            <dict>
                <key>NAME</key>
                <string>Spirooli</string>
                <key>IMAGE</key>
                <string>res/Level_Image/30_FL_SH_ZO_LI_Spirooli_image.jpg</string>
                <key>URL</key>
                <string>https://www.tweebaa.com/Product/saleBuy.aspx?id=461af079-3b03-4051-bd73-c82ef5adeda8</string>
            </dict>
            <key>1300004210</key>
            <dict>
                <key>NAME</key>
                <string>SqueegeEasy</string>
                <key>IMAGE</key>
                <string>res/spot_it/LevelInfo/SPOT_level29_SqueegeEasy_imageA.jpg</string>
                <key>URL</key>
                <string>https://tweebaa.com/Product/presaleBuy.aspx?id=95ffaddf-c8e9-4cca-b288-cd1276fd4a34</string>
            </dict>
            <key>1900327210</key>
            <dict>
                <key>NAME</key>
                <string>VACNGROOM</string>
                <key>IMAGE</key>
                <string>res/Level_Image/31_FL_SH_ZO_LI_VacNGroom_image.jpg</string>
                <key>URL</key>
                <string>https://tweebaa.com/Product/presaleBuy.aspx?id=6a00df32-c443-483b-8b96-99310c289540</string>
            </dict>
            <key>1500593210</key>
            <dict>
                <key>NAME</key>
                <string>Vidalia Chop Wizard</string>
                <key>IMAGE</key>
                <string>res/Level_Image/24_FL_SH_ZO_LI_VidaliaChop_image.jpg</string>
                <key>URL</key>
                <string>https://www.tweebaa.com/Product/saleBuy.aspx?id=fd31749d-df34-42e2-9341-e974c8042029</string>
            </dict>
            <key>1900326210</key>
            <dict>
                <key>NAME</key>
                <string>Pet Cooling Mat</string>
                <key>IMAGE</key>
                <string>res/spot_it/LevelInfo/SPOT_level26_PetCoolingMat_imageA.jpg</string>
                <key>URL</key>
                <string>https://www.tweebaa.com/Product/presaleBuy.aspx?id=f23158b5-d399-4828-870e-c7a3928b5886</string>
            </dict>
            <key>2000272210</key>
            <dict>
                <key>NAME</key>
                <string>Changing Roam</string>
                <key>IMAGE</key>
                <string>res/spot_it/LevelInfo/SPOT_level29_SqueegeEasy_imageA.jpg</string>
                <key>URL</key>
                <string>https://tweebaa.com/Product/presaleBuy.aspx?id=b680521f-9619-4eb8-898e-b092b3f111fe</string>
            </dict>
            <key>1900328210</key>
            <dict>
                <key>NAME</key>
                <string>DIRTY DOG</string>
                <key>IMAGE</key>
                <string>res/Level_Image/34_FL_SH_LI_DirtyDog_image.jpg</string>
                <key>URL</key>
                <string>https://tweebaa.com/Product/presaleBuy.aspx?id=8e6630b2-757d-4d71-aff3-667897ffd6ca</string>
            </dict>
            <key>1600033210</key>
            <dict>
                <key>NAME</key>
                <string>DOORHICKEY</string>
                <key>IMAGE</key>
                <string>res/spot_it/LevelInfo/SPOT_level32_DoorHickey_imageA.jpg</string>
                <key>URL</key>
                <string>https://tweebaa.com/Product/presaleBuy.aspx?id=91bcfdf4-2172-4ea3-a42d-85aef9b3a83d</string>
            </dict>
            <key>2000271210</key>
            <dict>
                <key>NAME</key>
                <string>EZ JUMPER</string>
                <key>IMAGE</key>
                <string>res/Level_Image/36_FL_ZO_LI_EZJumper_image.jpg</string>
                <key>URL</key>
                <string>https://tweebaa.com/Product/presaleBuy.aspx?id=ce53e101-7a6a-48fb-a244-bd7d89ae0472</string>
            </dict>
            <key>1501297210</key>
            <dict>
                <key>NAME</key>
                <string>MAGIC SPICER</string>
                <key>IMAGE</key>
                <string>res/spot_it/LevelInfo/SPOT_level34_MagicSpicer_imageA.jpg</string>
                <key>URL</key>
                <string>https://tweebaa.com/Product/presaleBuy.aspx?id=95628951-79ae-4167-ac04-080f5458f0dd</string>
            </dict>
            <key>1400067210</key>
            <dict>
                <key>NAME</key>
                <string>MOISTURIZING MATE</string>
                <key>IMAGE</key>
                <string>res/spot_it/LevelInfo/SPOT_level30_MoisturizingMate_imageA.jpg</string>
                <key>URL</key>
                <string>https://tweebaa.com/Product/presaleBuy.aspx?id=8f9185ed-7dc0-44b9-88bb-b48e67d66e89</string>
            </dict>
            <key>1501298210</key>
            <dict>
                <key>NAME</key>
                <string>SIP N DIP</string>
                <key>IMAGE</key>
                <string>res/Level_Image/35_FL_SH_LI_SipNDip_image.jpg</string>
                <key>URL</key>
                <string>https://tweebaa.com/Product/presaleBuy.aspx?id=5d74703b-dfd7-4777-98bb-dfbe156f898c</string>
            </dict>
            <key>1300005210</key>
            <dict>
                <key>NAME</key>
                <string>TOP HANGER</string>
                <key>IMAGE</key>
                <string>res/spot_it/LevelInfo/SPOT_level35_TopHanger_imageA.jpg</string>
                <key>URL</key>
                <string>https://tweebaa.com/Product/presaleBuy.aspx?id=c00b2f6c-7979-4a52-9f4d-accdada65004</string>
            </dict>
            <key>1600034210</key>
            <dict>
                <key>NAME</key>
                <string>Upsy Daisy</string>
                <key>IMAGE</key>
                <string>res/spot_it/LevelInfo/SPOT_level33_UpsyDaisy_imageA.jpg</string>
                <key>URL</key>
                <string>https://tweebaa.com/Product/presaleBuy.aspx?id=67d9ac34-6df8-4692-b45d-ff887e48e8bf</string>
            </dict>
            <key>1400068110</key>
            <dict>
                <key>NAME</key>
                <string>Squeeze Reliever</string>
                <key>IMAGE</key>
                <string>res/Level_Image/37_FL_ZO_LI_Squeeze_image.jpg</string>
                <key>URL</key>
                <string>https://tweebaa.com/Product/saleBuy.aspx?id=2ff0eb71-61e5-438c-81e9-6a608049057c</string>
            </dict>
            <key>1500015110</key>
            <dict>
                <key>NAME</key>
                <string>CERAMIC JAR WITH LID</string>
                <key>IMAGE</key>
                <string>res/Level_Image/7_FL_SH_LI_CeramicJar_image.jpg</string>
                <key>URL</key>
                <string>https://www.tweebaa.com/Product/saleBuy.aspx?id=98917912-25a3-4209-b0c8-c82ffcea05bb</string>
            </dict>
            <key>1500024110</key>
            <dict>
                <key>NAME</key>
                <string>Oceania Art Glass Vase</string>
                <key>IMAGE</key>
                <string>res/Level_Image/FL_MA_LI_Vase2_imageB.jpg</string>
                <key>URL</key>
                <string>https://tweebaa.com/Product/saleBuy.aspx?id=6053a868-7b0a-4a3a-b820-59d1359ea972</string>
            </dict>
            <key>1500039110</key>
            <dict>
                <key>NAME</key>
                <string>Floral Fantasia Art Glass Vase</string>
                <key>IMAGE</key>
                <string>res/Level_Image/5_FL_SH_MA_LI_Vase1_imageB.jpg</string>
                <key>URL</key>
                <string>https://tweebaa.com/Product/saleBuy.aspx?id=79532999-186f-4d13-8d2c-5614ccd67964</string>
            </dict>
            <key>1500185110</key>
            <dict>
                <key>NAME</key>
                <string>Fine Mod Imports Talix Counter Stool</string>
                <key>IMAGE</key>
                <string>res/Level_Image/20_FL_ZO_SH_LI_MetalChair_imageB.jpg</string>
                <key>URL</key>
                <string>https://www.tweebaa.com/Product/saleBuy.aspx?id=dafa3e3e-0324-47cb-a059-c4d1e8912434</string>
            </dict>
            <key>1500204110</key>
            <dict>
                <key>NAME</key>
                <string>Fine Mod Imports Wire Leaf Chair</string>
                <key>IMAGE</key>
                <string>res/Level_Image/9_FL_SH_LI_BlackChair_imageC.jpg</string>
                <key>URL</key>
                <string>https://www.tweebaa.com/Product/saleBuy.aspx?id=b86e5f47-2895-4356-8dda-f8bf7a04229d</string>
            </dict>
            <key>1700012210</key>
            <dict>
                <key>NAME</key>
                <string>TweeBot</string>
                <key>IMAGE</key>
                <string>res/Level_Image/3_FL_ZO_SH_LI_Tweebot_imageC.jpg</string>
                <key>URL</key>
                <string>https://www.tweebaa.com/Product/saleBuy.aspx?id=670bdf26-a935-4643-ac0e-ba24c2249107</string>
            </dict>
            <key>2000273210</key>
            <dict>
                <key>NAME</key>
                <string>ExerSeat</string>
                <key>IMAGE</key>
                <string>res/Level_Image/29_FL_LI_ExtraSeat_image.jpg</string>
                <key>URL</key>
                <string>https://tweebaa.com/Product/presaleBuy.aspx?id=b43ddcc8-d233-4d2e-aba1-28b5b6189c48</string>
            </dict>
            <key>1700206110</key>
            <dict>
                <key>NAME</key>
                <string>20.0 Megapixel Duo2 Dual-Screen Waterproof Digital Camera</string>
                <key>IMAGE</key>
                <string>res/Level_Image/11_FL_SH_LI_DigitalCamera_imageC.jpg</string>
                <key>URL</key>
                <string>https://tweebaa.com/Product/saleBuy.aspx?id=26304f6a-5bae-4edd-a4c0-806ecb3e3269</string>
            </dict>
            <key>1500275110</key>
            <dict>
                <key>NAME</key>
                <string>Fine Mod Imports Patterned Rocker Arm Chair</string>
                <key>IMAGE</key>
                <string>res/Level_Image/17_FL_ZO_SH_LI_PatternedChair_imageC.jpg</string>
                <key>URL</key>
                <string>https://www.tweebaa.com/Product/saleBuy.aspx?id=390f336b-d1b1-4a4f-9067-759f9381d99d</string>
            </dict>
            <key>1500328110</key>
            <dict>
                <key>NAME</key>
                <string>Fine Mod Imports Spark Hanging Chandelier, Silver</string>
                <key>IMAGE</key>
                <string>res/Level_Image/19_FL_SH_ZO_LI_Light_imageC.jpg</string>
                <key>URL</key>
                <string>https://www.tweebaa.com/Product/saleBuy.aspx?id=618e509d-c25d-4f81-bfc4-493920be14fb</string>
            </dict>
            <key>1500329110</key>
            <dict>
                <key>NAME</key>
                <string>Fine Mod Imports Pearl Table Lamp, Mother of Pearl</string>
                <key>IMAGE</key>
                <string>res/Level_Image/15_FL_SH_ZO_LI_TableLamp_imageC.jpg</string>
                <key>URL</key>
                <string>https://www.tweebaa.com/Product/saleBuy.aspx?id=97553e94-b5ae-4b88-a493-b6240511ab32</string>
            </dict>
        </dict>
    </dict>
</plist>
