<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>PRODUCT_LIST</key>
<array>
<dict><key>ID</key><string>1</string><key>NAME</key><string>Podillow</string><key>PRICE</key><string>$24.35</string><key>IMAGE</key><string>res/Level_Image/1_FL_ZO_SH_LI_PODillow_image.jpg</string><key>DESCRIPTION</key><string>PODillow is designed to help you relax and be more comfortable while laying face down at home, on the beach or even resting at your desk. </string><key>SKU</key><string>2000154210</string></dict>
<dict><key>ID</key><string>2</string><key>NAME</key><string>Pearl Lamp</string><key>PRICE</key><string>$161.1</string><key>IMAGE</key><string>res/Level_Image/15_FL_SH_ZO_LI_TableLamp_imageC.jpg</string><key>DESCRIPTION</key><string>This Pearl Table Lamp features discs on three rings which the mother of pearl discs are suspended from. Tall and elegant, the Pearl Table Lamp has all the right charm to jazz up any location. </string><key>SKU</key><string>1500329110</string></dict>
<dict><key>ID</key><string>3</string><key>NAME</key><string>Rocker Chair</string><key>PRICE</key><string>$137.78</string><key>IMAGE</key><string>res/Level_Image/17_FL_ZO_SH_LI_PatternedChair_imageC.jpg</string><key>DESCRIPTION</key><string>Add a splash of color to your home with this uniquely designed rocker arm chair. The Ginger Rocker Arm Chair is covered with high quality cotton fabric in a patchwork design. It is a comfortable, stylish and supportive chair.</string><key>SKU</key><string>1500275110</string></dict>
<dict><key>ID</key><string>4</string><key>NAME</key><string>3 LED Headlamp</string><key>PRICE</key><string>$16.1</string><key>IMAGE</key><string>res/Level_Image/18_FL_SH_ZO_LI_Headlamp_imageA.jpg</string><key>DESCRIPTION</key><string>3 LED Headlamp, 3 lighting modes, lightweight and durable, adjustable strap. Includes 2 CR2032 batteries.</string><key>SKU</key><string>2000126110</string></dict>
<dict><key>ID</key><string>5</string><key>NAME</key><string>Spark Chandelier</string><key>PRICE</key><string>$160.00</string><key>IMAGE</key><string>res/Level_Image/19_FL_SH_ZO_LI_Light_imageC.jpg</string><key>DESCRIPTION</key><string>Spark Hanging Chandelier</string><key>SKU</key><string>1500328110</string></dict>
<dict><key>ID</key><string>6</string><key>NAME</key><string>Wondercap</string><key>PRICE</key><string>$14.35</string><key>IMAGE</key><string>res/Level_Image/2_FL_ZO_SH_LI_WonderCap_image.jpg</string><key>DESCRIPTION</key><string>The heat from your microwavable WonderCap opens up the hair cuticles allowing the conditioning treatment to nourish and replace moisture to the inner hair shaft. Use WonderCap with your favourite hair conditioner. </string><key>SKU</key><string>1400039210</string></dict>
<dict><key>ID</key><string>7</string><key>NAME</key><string>Talix Counter Stool</string><key>PRICE</key><string>$72.22</string><key>IMAGE</key><string>res/Level_Image/20_FL_ZO_SH_LI_MetalChair_imageB.jpg</string><key>DESCRIPTION</key><string>More than three quarters of a century later, the famous chair adopts a new look. A versatile stool that is comfortable and great for use in any location whether indoors or outdoors. Stools are stackable for easy storage.</string><key>SKU</key><string>1500185110</string></dict>
<dict><key>ID</key><string>8</string><key>NAME</key><string>Vidalia Chop Wizard</string><key>PRICE</key><string>$19.95</string><key>IMAGE</key><string>res/Level_Image/24_FL_SH_ZO_LI_VidaliaChop_image.jpg</string><key>DESCRIPTION</key><string>The Vidalia Chop Wizard™ is a better way to chop vegetables, fruit, cheese, and more. With the Vidalia Chop Wizard™ you will chop your kitchen prep time in half, giving you more time to enjoy your delicious dishes. Make fresh tomato salsa, perfect stir-fry, juicy fruit salads, and more, quickly and easily.</string><key>SKU</key><string>1500593210</string></dict>
<dict><key>ID</key><string>9</string><key>NAME</key><string>Dunbar Restore</string><key>PRICE</key><string>$10.00</string><key>IMAGE</key><string>res/Level_Image/25_FL_LI_Dunbar_image.jpg</string><key>DESCRIPTION</key><string>Dunbar Leather and Shoe Restore instantly restores beauty to faded leather belongings. Dunbar Leather and Shoe Restore is odor free and works on all leather colors! Leather restoration has never been so simple!</string><key>SKU</key><string>1001254210</string></dict>
<dict><key>ID</key><string>10</string><key>NAME</key><string>LAPPAK COSEMTIC BAG</string><key>PRICE</key><string>$14.99</string><key>IMAGE</key><string>res/Level_Image/26_FL_SH_ZO_LI_Lappak_image.jpg</string><key>DESCRIPTION</key><string>The Cosmetic LapPak is a brilliant combination of style and function. The bags sleek shape and style does not detract from the fact that it holds an unbelievable amount of cosmetic items.</string><key>SKU</key><string>1400066210</string></dict>
<dict><key>ID</key><string>11</string><key>NAME</key><string>LAPPAK LUNCH BAG</string><key>PRICE</key><string>$14.99</string><key>IMAGE</key><string>res/Level_Image/27_FL_SH_ZO_LI_Lappak_image.jpg</string><key>DESCRIPTION</key><string>Our Lunch LapPak was designed with a modern, mobile person in mind. LapPak’s ergonomic design allows you to have a meal anywhere while, at the same time, our unique winged design protects your clothing.</string><key>SKU</key><string>1400066211</string></dict>
<dict><key>ID</key><string>12</string><key>NAME</key><string>Scoop N Go</string><key>PRICE</key><string>$19.99</string><key>IMAGE</key><string>res/Level_Image/28_FL_LI_ScroopNGo_image.jpg</string><key>DESCRIPTION</key><string>Convenient – Easy to use Fast and unobtrusive for dog walkers No more feeling emotionally uncomfortable for dog walkers</string><key>SKU</key><string>1900003210</string></dict>
<dict><key>ID</key><string>13</string><key>NAME</key><string>ExerSeat</string><key>PRICE</key><string>$99.00</string><key>IMAGE</key><string>res/Level_Image/29_FL_LI_ExtraSeat_image.jpg</string><key>DESCRIPTION</key><string>Hands-free, lightweight, core-engaging design Extra-wide seat *Wheels for easy portability *For all fitness levels *Adjustable resistance from light to moderate pedaling.</string><key>SKU</key><string>2000273210</string></dict>
<dict><key>ID</key><string>14</string><key>NAME</key><string>TweeBot</string><key>PRICE</key><string>$99.00</string><key>IMAGE</key><string>res/Level_Image/3_FL_ZO_SH_LI_Tweebot_imageC.jpg</string><key>DESCRIPTION</key><string>The totally hands-free TweeBot device easily pairs with your smartphone, then becomes your personal assistant! And best of all, you can do it completely HANDS FREE with simple voice commands! </string><key>SKU</key><string>1700012210</string></dict>
<dict><key>ID</key><string>15</string><key>NAME</key><string>Spirooli</string><key>PRICE</key><string>$24.95</string><key>IMAGE</key><string>res/Level_Image/30_FL_SH_ZO_LI_Spirooli_image.jpg</string><key>DESCRIPTION</key><string>Chopping, shredding, slicing, dicing - you can spend more time prepping than actually cooking. Now there's the Spirooli®, the handy kitchen helper that makes prep work a snap!</string><key>SKU</key><string>1500594210</string></dict>
<dict><key>ID</key><string>16</string><key>NAME</key><string>VACNGROOM</string><key>PRICE</key><string>$7.99</string><key>IMAGE</key><string>res/Level_Image/31_FL_SH_ZO_LI_VacNGroom_image.jpg</string><key>DESCRIPTION</key><string>VacNGroom Cordless Pet Vac Incredible cordless pet vac that vacuums to collect pet hair while you groom. The mess free way to control shedding. Clean up pet hair, before it gets everywhere!</string><key>SKU</key><string>1900327210</string></dict>
<dict><key>ID</key><string>17</string><key>NAME</key><string>DAP Xhose </string><key>PRICE</key><string>$29.95</string><key>IMAGE</key><string>res/Level_Image/32_FL_SH_ZO_LI_DAPXhorse_image.jpg</string><key>DESCRIPTION</key><string>Lightweight, kink-free and stronger than ever - the DAP XHOSE Pro Extreme is the best garden hose yet! The new expandable inner hose is built for maximum durability and covered with a thicker, stronger outer webbing. </string><key>SKU</key><string>1600032210</string></dict>
<dict><key>ID</key><string>18</string><key>NAME</key><string>Sobokawa Pillow</string><key>PRICE</key><string>$29.95</string><key>IMAGE</key><string>res/Level_Image/33_FL_SH_ZO_LI_Sobokawa_image.jpg</string><key>DESCRIPTION</key><string>The Ancient Asian Sleep Secret! The Sobakawa® Buckwheat Pillow is the only pillow with adjustable support and keeps your head cool all night!</string><key>SKU</key><string>1500595210</string></dict>
<dict><key>ID</key><string>19</string><key>NAME</key><string>DIRTY DOG</string><key>PRICE</key><string>$9.97</string><key>IMAGE</key><string>res/Level_Image/34_FL_SH_LI_DirtyDog_image.jpg</string><key>DESCRIPTION</key><string>All-natural, anti-bacterial spray to kill germs on pet paws and to protect the family. All-natural, safe and effective, vet tested. It kills germs, bacteria and microbes that can make pet owners sick. It also prevents dogs from chewing their pads. </string><key>SKU</key><string>1900328210</string></dict>
<dict><key>ID</key><string>20</string><key>NAME</key><string>SIP N DIP</string><key>PRICE</key><string>$4.95</string><key>IMAGE</key><string>res/Level_Image/35_FL_SH_LI_SipNDip_image.jpg</string><key>DESCRIPTION</key><string>Kids load the cookie, dunk it in, sip their milk through the straw, pull the cookie out and enjoy, with no mess and no dirty hands in their milk!</string><key>SKU</key><string>1501298210</string></dict>
<dict><key>ID</key><string>21</string><key>NAME</key><string>EZ JUMPER</string><key>PRICE</key><string>$19.95</string><key>IMAGE</key><string>res/Level_Image/36_FL_ZO_LI_EZJumper_image.jpg</string><key>DESCRIPTION</key><string>IT’S A 2 PIECE JUMP ROPE THAT IS WEIGHTED ON THE BOTOM OF EACH END EZ TO USE BUT A GREAT CARDIO WORKOUT</string><key>SKU</key><string>2000271210</string></dict>
<dict><key>ID</key><string>22</string><key>NAME</key><string>Squeeze Reliever</string><key>PRICE</key><string>$49.95</string><key>IMAGE</key><string>res/Level_Image/37_FL_ZO_LI_Squeeze_image.jpg</string><key>DESCRIPTION</key><string>The Squeeze Reliever is a patent pending unique multi-functional compression massager. It has air pillows that expand and contract to provide a squeezing motion that is similar to a squeezing hand. </string><key>SKU</key><string>1400068110</string></dict>
<dict><key>ID</key><string>23</string><key>NAME</key><string>Kitty Litty</string><key>PRICE</key><string>$24.35</string><key>IMAGE</key><string>res/Level_Image/4_SPOT_level7_Kittylitty_imageA.jpg</string><key>DESCRIPTION</key><string>Kitty Litty is the world’s first Lift-Sift-Flip cat litter box. The all new Kitty Litty simply, efficiently and hygienically cleans cats litter. This box that does all the work for you. Saving your time and money too. </string><key>SKU</key><string>1900002210</string></dict>
<dict><key>ID</key><string>24</string><key>NAME</key><string>Floral Vase</string><key>PRICE</key><string>$63.96</string><key>IMAGE</key><string>res/Level_Image/5_FL_SH_MA_LI_Vase1_imageB.jpg</string><key>DESCRIPTION</key><string>This jug-shaped art glass vase is a treasure of glowing color and graceful garden imagery. </string><key>SKU</key><string>1500039110</string></dict>
<dict><key>ID</key><string>25</string><key>NAME</key><string>CERAMIC JAR</string><key>PRICE</key><string>$55.96</string><key>IMAGE</key><string>res/Level_Image/7_FL_SH_LI_CeramicJar_image.jpg</string><key>DESCRIPTION</key><string>This ceramic jar adds the perfect finishing touches to any décor and enhances your tabletop or mantel with designer style! Features lovely paisley-shaped cutouts and a fluted lid. </string><key>SKU</key><string>1500015110</string></dict>
<dict><key>ID</key><string>26</string><key>NAME</key><string>Wire Leaf Chair</string><key>PRICE</key><string>$82.22</string><key>IMAGE</key><string>res/Level_Image/9_FL_SH_LI_BlackChair_imageC.jpg</string><key>DESCRIPTION</key><string>Wire Leaf chair with choice of Black, White, Red Leatherette seat.</string><key>SKU</key><string>1500204110</string></dict>
<dict><key>ID</key><string>27</string><key>NAME</key><string>Oceania Vase</string><key>PRICE</key><string>$63.96</string><key>IMAGE</key><string>res/Level_Image/FL_MA_LI_Vase2_imageB.jpg</string><key>DESCRIPTION</key><string>The swirling of a restless ocean is echoed in the rich azure hues of this Oceania Art Glass Vase. </string><key>SKU</key><string>1500024110</string></dict>
</array>
</dict>
</plist>
